body{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 325px;
    background-color: #212121;
    color: aliceblue;
}
button{
    height: 100px;
    width: 100px;
margin-left: 940px;
font-size: 25px;
border-radius: 10px;
}
button:hover{
    background-color: #212121;
    color: aliceblue;
    font-size: 25px;
    border-radius: 10px;
}